@mixin initGrid($class, $breakpoints, $gap) {
    #{$class} {
        margin: 0 auto;
        padding: 0 $gap / 2;

        @each $breakpoint, $width in $breakpoints {
            @media (max-width: $breakpoint) {
                max-width: $width;
            }
        }
    }
}
